<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">

        <title>Nonna's Pizza</title>
        <meta content="" name="description">
        <meta content="" name="keywords">

        <!-- Icono de la Pagina -->
        <link href="../pizza-favicon.ico" rel="icon">
        <link href="../pizza-favicon.ico" rel="apple-touch-icon">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glightbox/dist/css/glightbox.min.css"/>
        <link
            rel="stylesheet"
            href="https://unpkg.com/swiper@8/swiper-bundle.min.css"
            />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
            />
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
        <!-- Google Fonts -->
        <link
            href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,600,600i,700,700i|Satisfy|Comic+Neue:300,300i,400,400i,700,700i"
            rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="../style.css" rel="stylesheet">

    </head>

    <body>

        <!-- Page Content -->
        <div class="container">

            <!-- Page Heading/Breadcrumbs -->
            <h1 class="mt-4 mb-3 title-productos">
                Nonna's  <small>Compras</small>
            </h1>

            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a class="home-text" th:href="@{/}">Home</a></li>
                <li class="breadcrumb-item active producto-link">Compras</li>
            </ol>

            <!-- Blog Post -->
            <div class="card mb-4">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <table class="table" style="text-align: center">
                                <thead>
                                    <tr>
                                        <th scope="col">No. de Orden</th>
                                        <th scope="col">Nombre del Cliente</th>
                                        <th scope="col">Correo electronico</th>
                                        <th scope="col">Fecha</th>
                                        <th scope="col">Valor</th>
                                        <th scope="col">Acción</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="orden: ${ordenes}">
                                        <td th:text="${orden.numero}"></td>
                                        <td th:text="${orden.usuario.nombre}"></td>
                                        <td th:text="${orden.usuario.email}"></td>
                                        <td th:text="${orden.fechaCreacion}" ></td>
                                        <td th:text="${orden.total}" ></td>
                                        <td><a th:href="@{/usuario/detalle/{id} (id=${orden.id}) }" class="btn btn-success"><i class="bi bi-eye-fill" style="padding-inline-end: 10px;"></i>Ver Detalle</a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container -->

        <footer id="footer">
            <div class="container">
                <h3>Nonna's Pizza</h3>
                <p>Deléitate con nuestras irresistibles pizzas y descubre un mundo de sabores en cada rebanada.</p>
                <div class="social-links">
                    <a href="https://www.facebook.com/pizzerianonnas/" class="facebook"><i class="bx bxl-facebook"></i></a>
                </div>
                <div class="copyright">
                    &copy; Copyright <strong><span>Nonna's Pizza</span></strong>. All Rights Reserved
                </div>
                <div class="credits">
                    <!-- All the links in the footer should remain intact. -->
                    <!-- You can delete the links only if you purchased the pro version. -->
                    <!-- Licensing information: https://bootstrapmade.com/license/ -->
                    <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/delicious-free-restaurant-bootstrap-theme/ -->
                    Designed by <a href="https://www.youtube.com/watch?v=jWIBEyT70-E">Grupo 2 - Capstone</a>
                </div>
            </div>
        </footer>
        <!-- End Footer -->
    </body>

</html>
